@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-img {
    border: 3px solid white;
}

.spinner {
    animation: spin infinite 2s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tag-PHP {
    background-color: #777BB3;
    color: black;
}

.tag-MySQL {
    background-color: #00758F;
    color: #F29111;
}

.tag-VUEJS {
    background-color: #41B883;
    color: black;
}

.tag-BOOTSTRAP {
    background-color: #563D7C;
    color: #F29111;
}

.tag-Firebase {
    background-color: #FFA611;
    color: black;
}

/* .tag-SONYVEGAS {
    background-color: #1195CF;
    color: black;
} */

.tag-NODEJS {
    background-color: #689F63;
    color: black;
}

/* .tag-ARDUINO {
    background-color: #00979D;
    color: black;
} */

/* .tag-C\+\+ {
    background-color: #00599C;
    color: #F29111;
} */

.tag-WORDPRESS {
    background-color: #21759B;
    color: #F29111;
}

/* .tag-ANGULAR {
    background-color: #DD0031;
    color: white;
} */

/* .tag-IONIC {
    background-color: #4D8AF0;
    color: white;
} */

/* .tag-NoSQL {
    background-color: #4D8AF0;
    color: white;
} */

/* .tag-Python {
    color: #FFD43B;
    background-color: #5A9FD4;
} */

.tag-VTEX {
    background-color: #FF3366;
    color: white;
}

/* .tag-VIDEO-EDITING {
    background-color: #383838;
    color: white;
} */